*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-image: url("/static/images/weather2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

#container{
  display: flex; 
  flex-direction: column; 
  justify-items: center;
}

.searchName{
  padding-top: 0.5em;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}


#app-display {
  width: 20em;
  height: 6em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  top: 0.5em;
  padding-top: -1em;
  color: #fff;
  text-align: center;
  font-size: 2em;
}

#cityContainer{
  padding-top: 1.5em;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  position: relative;
  font-size: 1em;

}


#city, #country, #foreCast{
  color: aqua;
}

#weather {
 margin-top: 10px;
}

#temp {
  color: aqua;
}

#searchPlace{
  height: 8em;
  background-color: black;
  color: white;
}

#searchForm{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  
}

#searchBox{
  height: 2.4em;
  width: 15em;
  box-sizing: border-box;
  border-radius: 8px;
}

#searchButton{
  height: 2.5em;
  width: 5em;
  box-sizing: border-box;
  border-radius: 8px;
}

#imageFlag{
  padding-top: 0.4em;
  box-sizing: border-box;
}

#countryPopulation{
  font-weight: bold;
  font-size: large;
  color: white;
}
